<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <span style="color: red;" id="error_message"></span>
    <form onsubmit="event.preventDefault()" id="form">
        Name: <input type="text" name="name" value="<%= user.name %>"><br>
        Last name: <input type="text" name="lastname" value="<%= user.lastname %>"><br>
        Ssn: <input type="text" name="ssn" value="<%= user.ssn %>"><br>
        Email: <input type="email" name="email" value="<%= user.email %>"><br>

        <button onclick="updateUser(`<%= user.id %>`);">Update</button>
    </form>
</body>
</html>
